<data-ng-include src="'components/header.html'"></data-ng-include>
<section id="landing" class="sections sections-tight">

	<div class="container">	
     <div class="row" style="padding: 35px 300px; width: auto; height: 415px; right: 300px; left: 300px;">
			<form name="landingForm" style="background-color:#3366CC; left:300px" >
            <div >
      <div class="jumbotron-headline text-center">
      <div class="jumbotron-headline-cell">     
        <p style="margin-top: 40px;">Login</p>
       
      </div>
    </div>
             </div>
   					<form>
      					<label class="label label-primary" style="margin-left: 120px;"><font size="4" color="white">Username:</font></label><input style="margin-left: 70px;" type="text" ng-model="username" placeholder="Enter email" id="loginusername"/></br></br>
      					
      					<label class="label label-primary" style="margin-left: 120px;"><font size="4" color="white">Password:</font></label><input style="margin-left: 72px;" type="password" ng-model="password" placeholder="Enter password" id="loginpassword"></br></br>
      					<button  type="submit" ng-click="userlogin()" class="btn btn-primary" style="margin-left: 200px; background-color: white; margin-bottom: 40px; color: black; width: 200px; margin-top: 10px;">Login</button></br></br>
  					</form>
  				
  					
				
  	</div>

    
 
           
         </div>
     </div>
</section>