<data-ng-include src="'components/header.html'"></data-ng-include>

<section id="View Assets" class="sections sections-tight">
	<div class="container">
		<div class="row">
			<div class="action-items pull-center">
				<div class="action-item pull-left">
					<font size="2">Filter by:</font>
					<div class="btn-group">
						<a class="btn btn-info pull-right "
							style="background-color: transparent;" href="#"
							data-ui-sref="viewassets" ng-model="search.industry"
							ng-click="selectedFilter(assetrecord.industry,'industry')"><font
							size="1" color="black">Industry</font><span class="glyphicon"
							aria-hidden="true"></span></a> <a class="btn btn-info pull-right "
							style="background-color: transparent" href="#"
							data-ui-sref="viewassets" ng-model="search.service_category"
							ng-click="selectedFilter(assetrecord.service_category,'service_category')"><font
							size="1" color="black">Service Category</font><span
							class="glyphicon" aria-hidden="true"></span></a>
					</div>
				</div>

				<div ng-show="privilegeusersoption=='true'" class="action-item pull-left">
					<select ng-model="find.protected"
						ng-options="privilegeoption for (privilegeoption, privilegevalue) in privilegeusersopt"
						ng-change="selectedusers()" style="margin-top: 5px;">
						<option value="">--  Assets  --</option>
					</select>
				</div>
				<div class="action-item pull-right">
					<font size="2">View as:</font>
					<div class="btn-group">
						<ul class="nav nav-pills pull-right">
							<li ng-class="{'active':mode==1}" title="list"><a href="#"
								data-ui-sref="viewassets" ng-click="mode=1" class="btn btn-info"
								style="background-color: transparent; color: #3366CC; padding-left: 10px; padding-right: 10px;"><span
									class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a></li>
							<li ng-class="{'active':mode==2}" title="thumbs"><a href="#"
								data-ui-sref="viewassets" ng-click="mode=2" class="btn btn-info"
								style="background-color: transparent; color: #3366CC; padding-left: 10px; padding-right: 10px;"><span
									class="glyphicon glyphicon-th" aria-hidden="true"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="action-item pull-right">
					<font size="2">Sort by:</font>
					<div class="btn-group">
						<a class="btn btn-info pull-right "
							style="background-color: transparent" href="#"
							data-ui-sref="viewassets" ng-click="sortBy('service_category')"><font
							size="1" color="black">Service Category</font><span
							class="glyphicon" aria-hidden="true"></span></a> <a
							class="btn btn-info pull-right "
							style="background-color: transparent;" href="#"
							data-ui-sref="viewassets" ng-click="sortBy('title')"><font
							size="1" color="black">Title</font><span class="glyphicon"
							aria-hidden="true"></span></a> <a class="btn btn-info pull-right "
							style="background-color: transparent;" href="#"
							data-ui-sref="viewassets" ng-click="sortBy('industry')"><font
							size="1" color="black">Industry</font><span class="glyphicon"
							aria-hidden="true"></span></a>
					</div>
				</div>
			</div>
			<div style="height: 45px; width: 100%"></div>

			<div>
				<form name="viewAssetsDetails">
					<div data-ng-init="fetchassetsdetails()"></div>
					<div class="col-sm-1"
						ng-show="assetrecords.length > 0 && menuselectedfilter=='service_category'"
						style="padding-left: 0px;">
						<ul class="nav nav-stacked pull-left">
							<li><a href="{{menu.action}}"
								style="color: #3366CC; padding-left: 5px;"
								data-toggle="dropdown" data-ui-sref="viewassets"
								ng-class="{'dropdown-toggle': menu.menus}"
								ng-click="filterCategory(assetrecord.service_category)">All</a>
							</li>
							<li ng-class="{dropdown: menu.menus}"
								ng-repeat="assetrecord in assetrecords| unique: 'service_category'">
								<a href="{{menu.action}}"
								style="color: #3366CC; padding-left: 5px;"
								data-toggle="dropdown" data-ui-sref="viewassets"
								ng-class="{'dropdown-toggle': menu.menus}"
								ng-click="filterCategory(assetrecord.service_category)">{{assetrecord.service_category}}</a>
							</li>
						</ul>
					</div>

					<div class="col-sm-1"
						ng-show="assetrecords.length > 0 && menuselectedfilter=='industry'"
						style="padding-left: 0px;">
						<ul class="nav nav-stacked pull-left">
							<li><a href="{{menu.action}}"
								style="color: #3366CC; padding-left: 5px;"
								data-ui-sref="viewassets"
								ng-class="{'dropdown-toggle': menu.menus}"
								ng-click="filterCategory(assetrecord.industry)">All</a></li>
							<li ng-class="{dropdown: menu.menus}"
								ng-repeat="assetrecord in assetrecords| unique: 'industry'">
								<a href="{{menu.action}}"
								style="color: #3366CC; padding-left: 5px;"
								data-toggle="dropdown" data-ui-sref="viewassets"
								ng-class="{'dropdown-toggle': menu.menus}"
								ng-click="filterCategory(assetrecord.industry)">{{assetrecord.industry}}</a>
							</li>
						</ul>
					</div>
					<div class="col-md-11" style="padding-left: 0px; padding-right: 0px;">
						<div class="table-responsive" ng-hide="mode==2">
							<!-- <table class="table table-hover table-striped" ng-show="assetrecords.length > 0"> -->
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th><label class="titletxt" ng-model="find.title">Title</label></th>
										<th><input type="text" ng-model="find.service_category"
											id="searchcategory" ng-blur="categoryblur()"
											style="visibility: hidden; display: none;" /> <label
											class="categorytxt" ng-model="find.service_category"
											id="searchcategorylabel">Service Category</label></th>
										<th><input type="text" ng-model="find.industry"
											id="searchindustry" ng-blur="industryblur()"
											style="visibility: hidden; display: none;" /> <label
											class="industrytxt" ng-model="find.industry"
											id="searchindustrylabel">Industry</label></th>
										<th><label class="descriptiontxt"
											ng-model="find.description">Description</label></th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr ng-repeat="assetrecord in assetrecords | filter:filterType  | orderBy:propertyName:reverse "> -->
									<tr
										ng-repeat="assetrecord in assetrecords | filterByProperty:filterType:menuselectedfilter | filter:find | orderBy:propertyName:reverse ">
										<!-- <tr ng-repeat="assetrecord in assetrecords | filter:find | orderBy:propertyName:reverse "> -->
										<td><div>
												<a ng-href={{assetrecord.link}} target="_blank"
													style="color: #3366CC;">{{ assetrecord.title }}</a>
											</div></td>
										<td>{{ assetrecord.service_category }}</td>
										<td>{{ assetrecord.industry }}</td>
										<td>{{ assetrecord.description }}</td>
										<td style="padding-left: 0px;">
											<div class="dropdown" id="updatedeletemodel">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<span class="glyphicon glyphicon-cog"></span>
												</a>
												<ul class="dropdown-menu" role="menu"
													aria-labelledby="dLabel" style="min-width:60px">
													<li role="presentation"><a
														ng-click="updateAssets(assetrecord)">Edit</a></li>
													<li role="presentation"><a
														ng-click="deleteAssets(assetrecord)">Delete</a></li>
												</ul>
											</div>

										</td>

									</tr>
								</tbody>
							</table>
						</div>

						<div
							ng-repeat-start="assetrecord in assetrecords | filterByProperty:filterType:menuselectedfilter | filter:find | orderBy:propertyName:reverse"
							ng-class="{'col-md-4':mode==1, 'col-md-3':mode==2}">
							<div class="well" ng-show="mode==2">
								<h5 style="margin-top: 0px;">
									<a ng-href={{assetrecord.link}} target="_blank"
										style="color: #3366CC;">{{assetrecord.title}}</a>
								</h5>
								<b>{{assetrecord.service_category}}</b> <br> <font size="2"
									color="black">{{assetrecord.industry}}</font> <span
									ng-if=assetrecord.notTruncated
									title={{assetrecord.description}}><br>{{assetrecord.description}}</span>
								<span ng-if=assetrecord.truncated
									title={{assetrecord.description}}><br>{{assetrecord.truncatedDescription}}</span>
								<br>
								<div class="dropdown" id="updatedeletemodel">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<span class="glyphicon glyphicon-cog" style="padding-top: 15px;"></span>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<li role="presentation"><a ng-click="updateAssets(assetrecord)">Edit</a></li>
										<li role="presentation"><a ng-click="deleteAssets(assetrecord)">Delete</a></li>
									</ul>
								</div>

							</div>
						</div>
						<div ng-repeat-end=""></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


